# Project exclude paths
/Duplicate File Handler/Delete them all/
/Duplicate File Handler/Here come the files/
/Duplicate File Handler/How much does it weigh?/
/Duplicate File Handler/What's that hash about?/